<%- model_class = Event -%>
<div class="page-header">
  <h3><%= @event.name%></h3>
	<ul>
		<li>
			<%= @event.location %>
		</li>
		<li>
			<%= @event.start_time %>
		</li>
		<li>
			<%= @event.end_time %>
		</li>
		<li>
			<%= @event.description %>
		</li>
		<li>
				<button type="button" class="btn btn-info btn-xs"><%= link_to 'Back', user_events_path(current_user.uid)%></button>				
				<button type="button" class="btn btn-info btn-xs"><%= link_to 'Add pictures', new_user_event_picture_path(current_user.uid, @event.id)%></button>
				<button type="button" class="btn btn-info btn-xs"><%= link_to 'Download pictures', "#{@event.id}/download" %></button>
		</li>
	</ul>
	
</div>

<% @event.pictures.each_slice(4) do |slice| %>
	<div class="container-fluid">
		<div class="row">
			<% slice.each do |picture| %>
				<div class="col-md-3">
					<%= image_tag picture.image.url(:thumb) %>
				</div>
			<% end %>
		</div>
	</div>
<% end %>



